header{
    .fondoheaderandfooter{
        background-image: linear-gradient(to right, rgba(31, 30, 30, 0.89),rgba(0, 0, 0, 0.568));
    }
    .banner1{
        width: 99vw;
padding-top: 2px;
    }
    .carrito{
        display: flex;
        width: 35px;
        height: 30px;
        margin: 5px;
    }
    .carrito:hover{
        width: 45px;
        height: 40px;
    }
    .lupa{
        width: 35px;
    }
    .logo{
        width: 9rem;
        height: 7rem;
    }
 .navbar{
    --bs-navbar-color: #e97c00bb;
 }
 .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #e97c00bb;
}
}