.mainnosotros{
    .almacen{
        flex-wrap: wrap;
        margin: 5px;
        width: 400px;
        height: 40vh;
    }
    .ubicolortamanio{
        width: 50vw;
        background-image: linear-gradient(to top,rgba(0, 0, 0, 0.568), rgba(31, 30, 30, 0.89));
    }
    h1{
        @extend %titulos;
    @include fontStyle (white);
    }
    .sobrenosotros{
        font-family: Arial, Helvetica, sans-serif;
    }
   
}